<a href="https://colab.research.google.com/github/kingr0009/Gcolab-python/blob/main/dd_dictionaries_sets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#ordered collection of objects
my_list = [1,2,3,4,5,6,7,8,9,10]
0 in my_list

False

In [18]:
my_dict = {"name": "joe" , "age" : "25" , "city" : "new york"}
print(my_dict)
#associated values

{'name': 'joe', 'age': '25', 'city': 'new york'}

In [5]:
 #lets check the association
 my_dict["name"]

'joe'

In [6]:
#adding new values in the dictionary
my_dict["country"] = "USA"
print(my_dict)

{'name': 'joe', 'age': 25, 'city': 'new york', 'country': 'USA'}

In [11]:
#you can delete items in dictionarty
#you can check lenght
#you can check element with 'in' function

#del my_dict["country"]
print(my_dict)
len(my_dict)
"joe" in my_dict

{'name': 'joe', 'age': 25, 'city': 'new york'}

False

In [13]:
#how to check keys in the list
my_dict.keys()

dict_keys(['name', 'age', 'city'])

In [20]:
"25" in my_dict

False

In [21]:
my_table_dict = {"name": ["joe", "bob" , "harry"],
                 "age": [10,15,20],
                 "city": ["paris", "new york", "tokyo"]}

In [22]:
#set, each value needs to be unique
my_set = {1,2,3,4,5,6,7,8,9,10}
type(my_set)

set

In [26]:
#you can add or remove values from set using set.add(), set.remove
my_set.add(11)
print(my_set)
my_set.remove(10)
print(my_set)

#sets does not has indexing

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 11}

In [27]:
6 in my_set

True

In [31]:
#union of set
#intersection of set
#difference of set

set1 = {1,2,3,4,5,6,7,8,9,10}
set2 = {5,6,7,8,9,10,11,12,13,14,15}

a = set1.union(set2)
b = set1.intersection(set2)
c = set1.difference(set2)
print(a)
print(b)
print(c)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15}
{5, 6, 7, 8, 9, 10}
{1, 2, 3, 4}

In [32]:
set1.issubset(set2)

False

In [33]:
set2.issubset(set1)

False

In [35]:
b.issubset(a)

True

In [36]:
{2,3,4}.issubset(a)

True

In [37]:
#to remove dublicates
my_list = [1,2,3,4,5,6,7,8,9,10,1,2,3,4,5,6,7,8,9,10]
set(my_list)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}