<a href="https://colab.research.google.com/github/kingr0009/Gcolab-python/blob/main/dd_Lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#lists, they can be altered after they are created, you can add and remove without making a new list
my_list = ["lesson",5,"Is fun", True]
print(my_list)

['lesson', 5, 'Is fun', True]

In [3]:
#list function
second_list = list("life is study") #create a list from string
print(second_list)

['l', 'i', 'f', 'e', ' ', 'i', 's', ' ', 's', 't', 'u', 'd', 'y']

In [5]:
empty_list = [] #empty list
print(empty_list)

[]

In [7]:
empty_list.append("iam no longer empty") #add to list
print(empty_list)

['iam no longer empty']

In [8]:
#removing data from lists
my_list.remove("lesson")
print(my_list)

[5, 'Is fun', True]

In [12]:
my_list2 = ["lesson",5,"Is fun", 5,5,5,5,True]
my_list2.remove(5) #remove first instance of 5
print(my_list2)

['lesson', 'Is fun', 5, 5, 5, 5, True]

In [13]:
# prompt: using the 12th line show command to remove all the 5 at once

my_list2 = ["lesson",5,"Is fun", 5,5,5,5,True]
while 5 in my_list2:                                   #use 'while' loop to remove repeated values
  my_list2.remove(5)
print(my_list2)

['lesson', 'Is fun', True]

In [16]:
#add 2 lists
combined_list = my_list + empty_list
print(combined_list)

[5, 'Is fun', True, 'iam no longer empty']

In [20]:
#add a sequence to a existig list
combined_list.extend(empty_list)
print(combined_list)

[5, 'Is fun', True, 'iam no longer empty', ['iam no longer empty'], 'iam no longer empty', 'iam no longer empty', 'iam no longer empty']

In [22]:
#check min max lenght of list
num_list = [1,2,3,4,5,6,7,8,9]
print(min(num_list))
print(max(num_list))
print(len(num_list))
print(sum(num_list))
print(sum(num_list)/len(num_list))

1
9
9
45
5.0

In [23]:
#verifies list
1 in num_list

True

In [25]:
1 not in num_list

False

In [39]:
#sort , reverse
num_2 = [1,2,4,5,3,9,8,7,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24]    #sorts in ascending order
num_2.sort()
print("sorted",num_2)
num_2.reverse()
print("reversed",num_2)

sorted [1, 2, 3, 4, 5, 6, 7, 7, 8, 8, 9, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24]
reversed [24, 23, 22, 21, 20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 9, 8, 8, 7, 7, 6, 5, 4, 3, 2, 1]

In [41]:
another_list = ["hello", "my", "bestest", "old", "friend"]
print(another_list[0])
print(another_list[1])    #counting starts at 0
print(another_list[2])     #pulls out a specific value
print(another_list[3])
print(another_list[4])

hello
my
bestest
old
friend

In [42]:
print(another_list[-1]) #counts in reverse order to pull out a value, starting from the end
print(another_list[-2])

friend
old

In [43]:
#contained with nested list
nested_list = [[1,2,3],[4,5,6],[7,8,9]]
print(nested_list[0],[2])

[1, 2, 3] [2]

In [44]:
#slicing
#instead of pulling a specific value, you can pull a range of values
my_slice = another_list[1:3]      #not inclusive of the final index, slices 1,2 (upto3)
print(my_slice)

['my', 'bestest']

In [55]:
#slice up the entire list but use step size 2 to get every other item
num_3 = [1,2,4,5,3,9,8,7,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24]
my_slice3 = num_3[0:24:2] #sequence[start:stop:step]

print(my_slice3)

[1, 4, 3, 8, 6, 8, 10, 12, 14, 16, 18, 20]

In [63]:
#slice everything upto
num_4 = [1,2,4,5,3,9,8,7,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24]
my_slice4 = num_4[:24]
print(my_slice4)
my_slice4 = num_4[:]    #if you mention nothing, it will call the whole list
print(my_slice4)

[1, 2, 4, 5, 3, 9, 8, 7, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21]
[1, 2, 4, 5, 3, 9, 8, 7, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24]

In [67]:
#differnce between, xyz.remove(), del(xyz[n]), where 'n' is the nth element


fruits = ['apple', 'banana', 'cherry', 'apple']

# Remove the first occurrence of 'apple'
fruits.remove('apple')
print(fruits)  # Output: ['banana', 'cherry', 'apple']


numbers = [10, 20, 30, 40, 50]

# Delete elements from index 1 to 3 (2nd to 4th elements)
del numbers[1:4]
print(numbers)  # Output: [10, 50]

['banana', 'cherry', 'apple']
[10, 50]

In [69]:
#delete a value from the list
num_5 = [1,2,4,5,3,9,8,7,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24]
print(num_5)
del(num_5[1:5]) #upto 5
print(num_5)

[1, 2, 4, 5, 3, 9, 8, 7, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24]
[1, 9, 8, 7, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24]

In [76]:
#.pop will remove the last value and prints
num_5 = [1,2,4,5,3,9,8,7,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24]
popp= num_5.pop()
print(popp)

24

In [78]:
#copying lists
#make a list



list1 = [1,2,3,4,5]
list2 = list1.copy()   #copy the list #very important
list1.append(6)        #add an item to list1

print("list1", list1)    #print both lists
print("list2", list2)

list1 [1, 2, 3, 4, 5, 6]
list2 [1, 2, 3, 4, 5]

In [80]:
#experiment,                                            #relearn relook again
import copy

list1 = [1,2,3]
list2 = ["list within a list", list1]
list3 = copy.deepcopy(list2)

print("before appending to list1")
print("list2",list2)
print("list3",list3)

list1.append(4)

print("after appending to list1")
print("list2",list2)
print("list3",list3)

before appending to list1
list2 ['list within a list', [1, 2, 3]]
list3 ['list within a list', [1, 2, 3]]
after appending to list1
list2 ['list within a list', [1, 2, 3, 4]]
list3 ['list within a list', [1, 2, 3]]

In [ ]:
#wrap up