<a href="https://colab.research.google.com/github/kingr0009/Gcolab-python/blob/main/dd_Tuples_Strings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#tupes, lists that cannot be edited (cannot add or remove values in it)
#eg. longitute and latitude
my_tuple = (1, 2, 3, 4, 5)
print(my_tuple)

(1, 2, 3, 4, 5)

In [4]:
mylist1 = [2,4,3,1]
another_tuple = tuple(mylist1)
another_tuple

(2, 4, 3, 1)

In [5]:
#you can call a value from a tuple using squarea brackets
another_tuple[2]

3

In [6]:
#similarly you can do slicing operations
another_tuple[1:3]

(4, 3)

In [7]:
#also you can run some other common functions
print(len(another_tuple))
print(max(another_tuple))
print(min(another_tuple))
print(sum(another_tuple))

4
4
1
10

In [8]:
#now we'll try to add a value to it and see what happens
another_tuple.append(5) #shows error

AttributeError: 'tuple' object has no attribute 'append'