<a href="https://colab.research.google.com/github/kingr0009/Gcolab-python/blob/main/variables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#variable is a name you assign to a value or object
x = 10
y = 'python is fun'
z = 144**0.5==12

print(x,y,z)

10 python is fun True

In [3]:
x+z

11

In [5]:
#use of parenthetis
x,y,z = (10,20,30)
print(x,y,z)

10 20 30

In [6]:
#swapping,   tuples

(x,y) = (y,x)
print(x,y)

20 10

In [11]:
#reference

x = "HellO"
y = x
y = y.lower() #to turn lower case
print(x,y)

HellO hello

In [13]:
x = [2,4,6] #lists
y = x
y.append(4) #to add a number at the end of a list
print(x)
print(y)

[2, 4, 6, 4]
[2, 4, 6, 4]